*.o
*.a
Makefile.in
Makefile
aclocal.m4
.deps
autom4te.cache
config.log
config.status
config
configure
src/gmandel
src/gjulia
src/gjulia-video
src/gburningship
stamp-h1
*.swp
config.h
config.h.in
*~
tags
callgrind*
*.png
*.gmandel
.DS_Store
